In [1]:
import json
import pandas as pd

In [2]:
# Opening JSON file 
f = open('contacts.json',) 
  
# returns JSON object as a dictionary 
#data = json.load(f) 
data = [
    {'Id': '0', 'Email': 'Wick', 'Phone': '', 'OrderId': '', 'Contacts': '3'},
    {'Id': '1', 'Email': 'John', 'Phone': '', 'OrderId': '12345678', 'Contacts': '5'},
    {'Id': '8', 'Email': 'Chan', 'Phone': '782212345', 'OrderId': '', 'Contacts': '4'},
    {'Id': '34567', 'Email': '', 'Phone': '682212345', 'OrderId': '12345678', 'Contacts': '2'},
    {'Id': '78999', 'Email': 'Wick', 'Phone': '682212345', 'OrderId': '', 'Contacts': '4'},
    {'Id': '80000', 'Email': 'Dada', 'Phone': '', 'OrderId': '', 'Contacts': '3'},
    {'Id': '80001', 'Email': 'Chan', 'Phone': '', 'OrderId': '87654321', 'Contacts': '5'},
    {'Id': '80002', 'Email': '', 'Phone': '782212345', 'OrderId': '87654321', 'Contacts': '2'},
]

In [3]:
type(data)

list

In [13]:
data

[{'Id': '0', 'Email': 'Wick', 'Phone': '', 'OrderId': '', 'Contacts': '3'},
 {'Id': '1',
  'Email': 'John',
  'Phone': '',
  'OrderId': '12345678',
  'Contacts': '5'},
 {'Id': '8',
  'Email': 'Chan',
  'Phone': '782212345',
  'OrderId': '',
  'Contacts': '4'},
 {'Id': '34567',
  'Email': '',
  'Phone': '682212345',
  'OrderId': '12345678',
  'Contacts': '2'},
 {'Id': '78999',
  'Email': 'Wick',
  'Phone': '682212345',
  'OrderId': '',
  'Contacts': '4'},
 {'Id': '80000', 'Email': 'Dada', 'Phone': '', 'OrderId': '', 'Contacts': '3'},
 {'Id': '80001',
  'Email': 'Chan',
  'Phone': '',
  'OrderId': '87654321',
  'Contacts': '5'},
 {'Id': '80002',
  'Email': '',
  'Phone': '782212345',
  'OrderId': '87654321',
  'Contacts': '2'}]

In [5]:
df = pd.DataFrame(data)
df

      Id Email      Phone   OrderId Contacts
0      0  Wick                             3
1      1  John             12345678        5
2      8  Chan  782212345                  4
3  34567        682212345  12345678        2
4  78999  Wick  682212345                  4
5  80000  Dada                             3
6  80001  Chan             87654321        5
7  80002        782212345  87654321        2

In [6]:
#df1 = df.groupby('Email').agg(lambda x: list(x))
#df1

df1 = df.groupby('Email')['Id'].apply(list).reset_index(name='new')
df1
product1 = df1['new'].values.tolist()
del product1[0] 
print (product1)

df2 = df.groupby('Phone')['Id'].apply(list).reset_index(name='new')
df2
product2 = df2['new'].values.tolist()
del product2[0] 
print (product2)

df3 = df.groupby('OrderId')['Id'].apply(list).reset_index(name='new')
df3
product3 = df3['new'].values.tolist()
#print (product)
del product3[0] 
print (product3)


joinedlist = product1 + product2 + product3
print (joinedlist)

[['8', '80001'], ['80000'], ['1'], ['0', '78999']]
[['34567', '78999'], ['8', '80002']]
[['1', '34567'], ['80001', '80002']]
[['8', '80001'], ['80000'], ['1'], ['0', '78999'], ['34567', '78999'], ['8', '80002'], ['1', '34567'], ['80001', '80002']]

In [7]:
joinedlist = product1 + product2 + product3
print (joinedlist)

[['8', '80001'], ['80000'], ['1'], ['0', '78999'], ['34567', '78999'], ['8', '80002'], ['1', '34567'], ['80001', '80002']]

In [9]:
unique = []
combine = []
for x in range(len(joinedlist)):
    if len(joinedlist[x]) == 1:
        unique.append(joinedlist[x]) 
    else:
        combine.append(joinedlist[x]) 

print(unique)
print(combine)

[['1']]
[['8', '80001'], ['0', '78999'], ['34567', '78999'], ['8', '80002'], ['1', '34567'], ['80001', '80002']]

In [12]:
temp = []
for i,_ in enumerate(combine):
    for j,_ in enumerate(combine):
        if i!= j and len(set(combine[i])&set(combine[j])) != 0:
            temp.append(list(set(combine[i])|set(combine[j])))

temp = list(set(map(tuple,temp)))
print(temp)

[('80002', '80001', '8'), ('34567', '0', '78999'), ('0', '34567', '78999'), ('34567', '1', '78999')]